/* body{
    display: flex;
    justify-content: center;
    

} */

#chessBoard{
    width: 640px;
    height: 640px;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    margin-left: 6rem;
}

.square{
    width: 80px;
    height: 80px;
    position: relative;

}
.square svg{
    height: 50px;
    z-index: -9;
}
path{
    position: relative;
    z-index:-10;
}

.green{
    background-color: rgb(12, 70, 3);
}
.light{
    background-color: rgb(213, 216, 214);
}
.piece{
    padding: 1.1rem;
    position: relative;
    z-index: 9;
}

.black svg{
    fill: black;
}
.beige svg{
   fill: rgb(106, 106, 50);
}
